.jumbotron {
  background-image: url("../home/banner.png");
  height: 660px;
  padding-top: 6rem;

  /* background-color: #e2edff; */
}
section {
  padding-top: 6rem;
}

.button-search-1 {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 0px;
}

#Event {
  height: 750px;
  padding-top: 6rem;
  justify-content: center;
}

#location {
  margin: 10px 25px;
  border-radius: 30px;
  background-color: #3796c9;
  height: 750px;
  padding-top: 6rem;
  justify-content: center;
}

#Partner {
  margin-top: 50px;
  background-image: url("../home/Group\ 5917.png");
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
}

#Footer {
  height: 600px;
  margin-left: 10px;
}
a {
  color: #3796c9;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #3796c9;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.date button {
  height: 100px;
  width: 70px;
  margin-bottom: 50px;
  font-size: 12px;

  /* identical to box height */

  text-align: center;
  letter-spacing: 0.00039375px;

  color: #ff8900;
}

.see-all button {
  color: lightblue;
  background-color: white;
  height: 50px;
  width: 255px;
  margin-bottom: 40px;
  font-size: 12px;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .jumbotron {
    height: 500px;
    background-color: #3796c9;
    background-repeat: no-repeat;
    background-image: url("../home/Group\ 12.png");
  }
  #Event {
    height: 1750px;
  }
  #location {
    margin-left: 25px;
    height: 1750px;
  }

  #Category {
    height: 1750px;
  }

  #Partner {
    height: 450px;
  }
  #Footer {
    margin-top: 50px;
    height: 1200px;
  }
}

#Footer li {
  color: #c1c5d0;
}
